
AoC2019/intcode/__pycache__/

Vectors/vector/__pycache__/

VectorPy/.vscode/

VectorPy/__pycache__/

WormholeRaycastTests/.vscode/

DiscordBots/Goss Bot/.env

DiscordBots/Goss Bot/tokenConfig.json

DiscordBots/Goss Bot/secretConfig.json

DiscordBots/Goss Bot/__pycache__/

DiscordBots/Goss Bot/logs/
